.HottestPosts{ height:330px; position:relative;margin-left:250px;margin-right:250px;}
.HottestSrcs{ height:130px;position:relative;margin-top:50px;margin-left:-10px;margin-bottom:-55px;}
.HottestPosts hr{border-style:dashed;margin-left:-35px;margin-right:-35px;margin-bottom:0px;}
#HottestSrcs{height:70px;}