body { margin:0; padding:0;background:#cccccc; }
.logo{margin:0 auto;position:relative;width:930px}
.header{background:#3083eb;height:49px;}
.container{height:100%;margin:0 auto;position:relative;width:800px}

#nav ul { width:400px; height:40px; margin:100 auto; }

.nav{float:right;position:relative;}

#main{background-color:#fff;border:1px solid #ddd;margin:70px auto 0;padding-top:36px;width:900px;height:560px;}
#main h1{text-align:center;color:#3083eb;}
#reg{border-top:1px solid #e0e0e0;margin:0 50px;padding:40px 0 0 186px}
.reg-wrap .input-bg{display:block;height:36px;width:290px;border:1px solid #c7c7c7}
.reg-wrap .submit{top:30px}
.reg-wrap .input-bg input{border:0px none;font-size:14px;padding:8px 0 0 6px;width:100%;height:100%;}



.reg-wrap dd{height:54px;z-index:1;margin:0 0 16px;position:relative;zoom:1}
.reg-wrap .input-bg  label{color:red;font-size:18px;height:38px;left:300px;line-height:38px;padding:0 10px 0 0;position:absolute;text-align:right;top:0;width:205px}
.reg-wrap label{font-size:20px;height:38px;left:-96px;line-height:38px;padding:0 10px 0 0;position:absolute; text-align:left;top:0;width:100px}



.reg-wrap .text-tips{bottom:0;color:#cbcbcb;left:0;position:absolute;white-space:nowrap}


.reg-wrap .submit input{background:#3083eb;border:1px solid #3083eb;color:#fff;cursor:pointer;font-size:18px;height:42px;text-align:center;width:210px}